<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="container-fluid">
                    <img src="/images/404.jpg" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <p class="error-message">Page not found</p>
            </div>
        </div>
    </div>
</body>

</html>