<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Compare Page</title>

    <style>
      .icon-style {
        color: black;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <!-- Card image -->
            <img
              class="card-img-top"
              src="resources/rahul.webp"
              alt="Card image cap"
            />
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title"><a>Rahul Gandhi</a></h4>
              <!-- Text -->
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="far fa-user icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">Rahul Gandhi</p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="fas fa-map-marker-alt icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">Wayanad</p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="fas fa-graduation-cap icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">Post Graduate</p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="far fa-gem icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">
                    <i class="fas fa-rupee-sign"></i>15 Crores+
                  </p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="fas fa-car icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">
                    <i class="fas fa-rupee-sign"></i>15 Crores+
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <img
            src="resources/chart.jpg"
            class="img-fluid"
            alt="Responsive image"
            style="height: 36rem;"
          />
        </div>
        <div class="col-sm-4">
          <div class="card">
            <!-- Card image -->
            <img
              class="card-img-top"
              src="resources/gambhir-new.webp"
              alt="Card image cap"
            />
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title"><a>Gautam Gambhir</a></h4>
              <!-- Text -->
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="far fa-user icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">Gautam Gambhir</p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="fas fa-map-marker-alt icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">East Delhi</p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="fas fa-graduation-cap icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">Post Graduate</p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="far fa-gem icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">
                    <i class="fas fa-rupee-sign"></i>15 Crores+
                  </p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <p class="card-text icon-style">
                    <i class="fas fa-car icon-style"></i>
                  </p>
                </div>
                <div class="col-sm-11">
                  <p class="card-text icon-style">
                    <i class="fas fa-rupee-sign"></i>15 Crores+
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"
    ></script>
  </body>
</html>
