<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars icon-style"></i>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/politicians/search">Politicians</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/politicians/compare">Compare</a>
            </li>
            <li class="nav-item">
              <a class="nav-link on-this-page" href="/disclaimer">Disclaimer</a>
            </li>

          </ul>
          <form class="form-inline" id="searchForm">
            <div class="md-form my-0">
              <input id="searchQuery" class="search-query form-control mr-sm-2" type="text" placeholder="Search"
                aria-label="Search" />
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <div class="container-fluid col-sm-9 col-md-7 col-lg-8 mx-auto mt-4 flex-grow-1">
    <div class="my-3">
      <div class="card container p-4">
        <h1 class="display-4">Disclaimer</h1>
        <p class="mt-2">
          The contents of this website are being furnished to you for your information. You may choose to reproduce or
          redistribute the contents for non-commercial purposes in part or in full to any other person without any due
          acknowledgement. <b>Any opinion(s) expressed are entirely based upon those of the respective
            author(s)</b>. Satark makes every effort to use reliable and comprehensive information, but Satark does
          not
          represent that the contents of the website are accurate or complete. Satark is an independent,
          not-for-profit
          group. 
          The contents of the website have been prepared without regard to the objectives or opinions of those who may
          receive it.
        </p>
        <h1 class="display-4">Sources</h1>
        <ul class="mt-2">
          <li>
            <B>API's used</B>
            <ul>
              <li>News</li>
              <li>Youtube</li>
              <li>Twitter</li>
            </ul>
          </li>
          <li><b>Politician's Affidavits</b> <a href="https://affidavit.eci.gov.in/" target="blank">Click here</a></li>
          <li><b>Criminal cases, education</b> <a
              href="https://adrindia.org/content/lok-sabha-elections-2019-analysis-criminal-background-financial-education-gender-and-other"
              target="blank">Click
              here</a>
          </li>

          <li><b>Sitting Memebers</b>
            <a href="http://loksabhaph.nic.in/Members/AlphabeticalList.aspx" target="blank">Click here</a>
          </li>

          <li><b>Attendance of Memebers</b>
            <a href="http://loksabhaph.nic.in/Members/MemberAttendance.aspx" target="blank">Click here</a>
          </li>


        </ul>
      </div>
    </div>

  </div>

  {{>footer}}
  {{>scripts}}

</body>

</html>