<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    <div class="row">
        <div class="col-md-12 mb-5">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars icon-style"></i>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/politicians/search">Politicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/politicians/compare">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/disclaimer">Disclaimer</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="searchForm">
                        <div class="md-form my-0">
                            <input id="searchQuery" class="search-query form-control mr-sm-2" type="text"
                                placeholder="Search" aria-label="Search" />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>



    <div class="row mt-4">
        <div class="card container p-3">
            <img src="/images/Capture3.PNG" class="error-logo mt-2" alt="">
            <img src="/images/error.PNG" class="error-symbol" alt="">
            <h3 class="text-center mt-3">
                Politicians are easier to find at Satark. We couldn't find this page.
            </h3>
            <p class="text-center">
                <a href="/">Go back</a>
            </p>
        </div>
    </div>
</body>

</html>