<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

{{>head}}
<link rel="stylesheet" href="/css/home.css">

<body>

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars icon-style"></i>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link on-this-page" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/politicians/search">Politicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/politicians/compare">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/disclaimer">Disclaimer</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="searchForm">
                        <div class="md-form my-0">
                            <input id="searchQuery" class="search-query form-control mr-sm-2" type="text"
                                placeholder="Search" aria-label="Search" />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <section class="section-a">
        <div class="container">
            <div>
                <h1>Best Political analyist of India</h1>
                <p>
                    Satark is a Web app. Where you can review critical candidate information
                    to help you make your
                    decision. Once voted, you can see which parties are gaining popularity or which candidates are
                    losing public confidence.
                </p>
            </div>
            <img src="/images/india.png" alt="" />
        </div>
    </section>

    <section id="about" class="section-b">
        <div class="overlay">
            <div class="section-b-inner py-5">
                <h3 class="text-2">Loud and Clear</h3>
                <h2 class="text-5 mt-1">People won't be kept from background information!</h2>
                <p class="mt-1">
                    It’s simple. We know everything about uber drivers, restaurants, so why not our leaders too! If our
                    leaders know that their performance is being rate,
                    we believe that they
                    will work even harder and for the betterment of the public.
                </p>
            </div>
        </div>
    </section>

    <h1 class="text-center display-3 mt-4 mb-4">App in action</h1>

    <section class="section-c mt-4">
        <div class="gallery">
            <a href="#" class="big"><img src="/images/modi.png" alt="" /></a>
            <a href="#" class="big"><img src="/images/search.png" alt="" /></a>
            <a href="https://i.ibb.co/xSnHP7g/gal43884.jpg" class="big"><img src="https://i.ibb.co/xSnHP7g/gal43884.jpg"
                    alt="" /></a>
            <a href="https://i.ibb.co/QN6Bnrb/gal4958.jpg" class="big"><img src="https://i.ibb.co/QN6Bnrb/gal4958.jpg"
                    alt="" /></a>
            <a href="https://i.ibb.co/dGZvj75/gal4545.jpg" class="big">
                <img src="https://i.ibb.co/dGZvj75/gal4545.jpg" alt="" /></a>
            <a href="https://i.ibb.co/S6FVFNt/gal74744.jpg" class="big"><img src="https://i.ibb.co/S6FVFNt/gal74744.jpg"
                    alt="" /></a>
        </div>
    </section>



    <footer class="section-footer py-4 bg-primary mt-4">
        <div class="container">
            <div>
                <h2 class="text-2 mb-1">Catch Satark on other social media platforms!</h2>
                <a href="http://twitter.com">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="http://facebook.com">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="http://youtube.com">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
            <div>
                <h3>Company Info</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>

            <div>
                <h3>Want to bring change? Vote.</h3>
            </div>
        </div>
    </footer>
    {{>scripts}}

</body>

</html>