<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

{{>head}}
<link rel="stylesheet" href="/css/home.css">

<body>

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars icon-style"></i>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link on-this-page" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/politicians/search">Politicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/politicians/compare">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/disclaimer">Disclaimer</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="searchForm">
                        <div class="md-form my-0">
                            <input id="searchQuery" class="search-query form-control mr-sm-2" type="text"
                                placeholder="Search" aria-label="Search" />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <section class="section-a flex-grow-1">
        <div class="container gridder">
            <div>
                <h1 class="display-4">Best Political analyist of India</h1>
                <p>
                    <b>Satark</b> lets you watch-over directly on your elected officials. There are no professional
                    pollsters
                    or news anchors
                    filtering what you see. You watch and rate on your own terms, from your kitchen table or desk at
                    work. You don’t
                    have to wait to be
                    called on by the tv channel.
                </p>
            </div>
            <img src="/images/india.png" alt="" />
        </div>
    </section>

    <section class="flex-grow-1 orange">
        <div class="container py-3">
            <p class="text-white p-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint, cupiditate enim hic rem in
                commodi
                ad earum nam? Libero, odit nihil! Aliquid laborum sunt quis quas blanditiis porro voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minus, accusantium et a sunt dignissimos
                nihil consequatur beatae, cum magni vero quisquam numquam impedit possimus ducimus quis ut reiciendis
                praesentium.
            </p>
        </div>
    </section>


    <section class="section-a flex-grow-1 mt-4">
        <div class="container gridder">
            <img src="/images/landing.png" alt="" />
            <h1 class="display-4">Available for mobile and desktop site</h1>
        </div>
    </section>

    {{>scripts}}
    {{>footer}}

</body>

</html>