<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

{{>head}}
<link rel="stylesheet" href="/css/home.css">

<body>
    {{>nav}}
    <article class="mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-cascade wider reverse">
                                <div class="view view-cascade overlay">
                                    <img class="card-img-top"
                                        src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg"
                                        alt="Sample image">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <div class="card-body card-body-cascade text-center">
                                    <button type="button" class="btn btn-elegant align-btn-center">Subscribe</button>
                                </div>
                            </div>
                            <div class="mt-5">
                                <p class="lead">
                                    What is the <b>Satark</b>? We are a team that consists of passionate journalists and
                                    technologists who are trying
                                    to make the Indian democracy better.
                                    Our team is based in Delhi. We want
                                    that all our politicians should be made accountable to the citizens. We rate uber
                                    drivers, we rate restaurants, so why
                                    not our leaders too! If our leaders know that their performance is being rated, we
                                    believe that they will work even
                                    harder and for the betterment of the public.
                                    In the Satark web app you can review critical candidate information,
                                    popularity and sentiment analysis of politicians based on their public confidence.

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mt-4 shadow p-3 mb-5 bg-white rounded">
                                <div class="col-md-4">
                                    <i class="fas fa-chart-area fa-3x red-text align-center"></i>
                                    <h5 class="font-weight-bold my-4 align-center">Analytics</h5>
                                    <p class="grey-text mb-md-0 mb-5 align-center">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Reprehenderit
                                        maiores aperiam minima assumenda deleniti hic.
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <i class="fas fa-book fa-3x cyan-text align-center"></i>
                                    <h5 class="font-weight-bold my-4 align-center">Tutorials</h5>
                                    <p class="grey-text mb-md-0 mb-5 align-center">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Reprehenderit
                                        maiores aperiam minima assumenda deleniti hic.
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <i class="far fa-comments fa-3x orange-text align-center"></i>
                                    <h5 class="font-weight-bold my-4 align-center">Support</h5>
                                    <p class="grey-text mb-0 align-center">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Reprehenderit maiores
                                        aperiam minima assumenda deleniti hic.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar-item">
                        {{#each articles}}
                        <li>1</li>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="row">
        <div class="col-md-12">
            <footer class="page-footer font-small cyan darken-3 mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 py-5">
                            <div class="mb-5 flex-center">
                                <a class="fb-ic">
                                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="tw-ic">
                                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="gplus-ic">
                                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="li-ic">
                                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="ins-ic">
                                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <a class="pin-ic">
                                    <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                </div>
            </footer>
        </div>
    </div>
    {{>scripts}}

</body>

</html>