<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

{{>head}}
<link rel="stylesheet" href="/css/home.css">

<body>

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars icon-style"></i>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link on-this-page" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/politicians/search">Politicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/politicians/compare">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/disclaimer">Disclaimer</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="searchForm">
                        <div class="md-form my-0">
                            <input id="searchQuery" class="search-query form-control mr-sm-2" type="text"
                                placeholder="Search" aria-label="Search" />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <section class="section-a flex-grow-1">
        <div class="container gridder">
            <div>
                <h1 class="display-4">Best Political analyist of India</h1>
                <p>
                    One of it’s kind in India, <b>Satark</b> App is a cross party platform which is aimed at increasing
                    transparency, strengthen
                    participatory governance and ensure accountability of our leaders. It is one stop solution for
                    citizens, political
                    parties, government and leaders to establish direct connect with each other, understand the
                    behaviour, and highlight
                    achievements.
                </p>
            </div>
            <img src="/images/india.png" alt="" />
        </div>
    </section>

    <section class="flex-grow-1 orange">
        <div class="container">
            <img src="/images/hand-phone.png" alt="" class=" w-50 d-block mx-auto mt-5" />
        </div>

        <div class="container py-3">
            <p class="text-white p-3">
                It provides you information on your fingertips about members of the Lok sabha highlighting their
                Personal Information,
                Assets, Liabilities, criminal cases and other information related to their performance in the lok sabha
                like attendance,
                no of questions asked, no of debates participated in etc. Along with the opportunity to compare their
                performance with a
                former MP of the same area. it also allows a user to view the latest news, tweets and speeches of an
                elected leader.
            </p>
        </div>
    </section>


    <section class="section-a flex-grow-1 mt-4">
        <div class="container gridder">
            <img src="/images/landing.png" alt="" />
            <h1 class="display-4">Available for mobile and desktop site</h1>
        </div>
    </section>

    {{>scripts}}
    {{>footer}}

</body>

</html>