.content-section {
  min-height: 2000px;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}
.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding: 0 15px;
}
/* Ignore This, just coloring */
body {
  background: #fff;
}
article {
  background: white;
  border-radius: 12px;
}
.title-section,
.content-section,
.sidebar-section {
  background: white;
}
.title-section {
  text-align: center;
  padding: 50px 15px;
  margin-bottom: 30px;
}
.content-section h2 {
  text-align: center;
  margin: 0;
  padding-top: 200px;
}

.sidebar-item {
  text-align: center;
  position: sticky;
  overflow-y: overlay;
  height: 36rem;
  text-align: center;
}

.align-center {
  text-align: center;
  display: block;
}

.align-btn-center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.card {
  box-shadow: none !important;
}

.media {
  border: 1px solid rebeccapurple;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #000000bf;
}

.carousel-item img {
  height: 25rem;
  width: 100%;
}

.cyan.darken-3 {
  background: #ffc107 !important;
}
