.content-section {
  min-height: 2000px;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}
.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Position the items */
  // &:nth-child(2) { top: 25%; }
  // &:nth-child(3) { top: 50%; }
  // &:nth-child(4) { top: 75%; }
}
.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding: 0 15px;
}
/* Ignore This, just coloring */
body {
  background: #fff;
}
article {
  background: white;
  border-radius: 12px;
}
.title-section,
.content-section,
.sidebar-section {
  background: white;
  // border-radius: 12px;
  // border: solid 10px #f1f1f1;
}
.title-section {
  text-align: center;
  padding: 50px 15px;
  margin-bottom: 30px;
}
.content-section h2 {
  text-align: center;
  margin: 0;
  padding-top: 200px;
}
.sidebar-item {
  text-align: center;
  position: sticky;
  overflow-y: overlay;
  height: 36rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.align-center {
  text-align: center;
  display: block;
}

.align-btn-center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
