@import url("https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap");

.error-message {
  color: #fcbf04;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-family: "Lexend Mega", sans-serif !important;
}

.go-back-btn {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 37%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-family: "Lexend Mega", sans-serif !important;
}

.active {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card-comments img {
  width: 4rem;
}

.align-btn {
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.align-div {
  margin: 0 auto;
}

.avatar img {
  width: 80%;
  margin: 10%;
}

.navbar {
  background: #fff !important;
}

.nav-link {
  color: #000 !important;
  font-size: 1.25rem !important;
}
#site-logo {
  width: 10rem;
}

.search-query {
  background: #ffb74d !important;
  border-radius: 50px !important;
  padding-left: 1rem !important;
  border: none !important;
  outline: none !important;
}

.on-this-page {
  color: #ff9800 !important;
  font-weight: 900 !important;
}

body {
  overflow-x: hidden;
}

.politician-media {
  box-shadow: none;
}

.testimonial-card {
  margin-bottom: 0.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ff9800;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(53, 53, 53);
}

.read-more {
  background: #fdd835 !important;
  color: black;
}

.overflow-media {
  height: 40rem;
  overflow-y: scroll;
}

.card-body a,
.view-detailed {
  color: black !important;
  background: #ff9800 !important;
}

.profile-pic {
  width: 50%;
  border-radius: 50%;
  margin: auto;
  border: 2px solid #ff9800;
  margin-top: 1rem;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
  color: #ff9800;
}

.controls-top {
  text-align: center;
}

.fa-chevron-right,
.fa-chevron-left {
  margin: 1rem 0;
  padding: 1rem 1.25rem;
  border-radius: 50%;
  background: #fdd835;
}

.search-page-feild {
  background: #f9d534;
  border-radius: 5px;
}

.politicians-media {
  display: grid;
  grid-template-areas: 1fr 1fr;
}
.h1-responsive {
  margin: 1rem !important;
}
@media only screen and (max-width: 600px) {
  .error-message {
    color: #fcbf04;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 4rem;
    font-family: "Lexend Mega", sans-serif !important;
  }
  .go-back-btn {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -100%);
    font-size: 1rem;
    font-family: "Lexend Mega", sans-serif !important;
  }

  .active {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
  }
}

.search-left-box {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: transparent;
  cursor: pointer;
}

.search-right-box {
  cursor: pointer;
  background: transparent;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.form-control {
  border-right: 0;
  border-left: 0;
}
