.card-comments img {
  width: 4rem;
}

.align-btn {
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.align-div {
  margin: 0 auto;
}

.avatar img {
  width: 80%;
  margin: 10%;
}

.partyName {
  background: #434e5d;
  display: inline-block;
  padding: 0.15rem 1rem;
  border-radius: 50px;
  float: right;
  color: white !important;
}
